*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.auth-section{
    height: 100vh;
    min-height: max-content;
    background-image: url(./assets/images/banner-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-block: 20px;
}
.auth-section::after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0.8;
    background: #212529;
    z-index: 2;
}
.auth-wrapper{
    position: relative;
    z-index: 3;
    color: white;
}

.content{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.auth-inner{
    max-width: 200px;
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.page-wrap{
    margin-top: 80px;
}
.page-title{
    text-align: center;
}
.login-item{
    border-radius: 5px;
}
.login-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 30px;
}
.registration-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-top: 30px;
}
.tabs-wrap ul{
    background: white;
    max-width: max-content;
    padding: 10px;
    margin: 0 auto;
}
.tabs-wrap .tab-pane{
    max-width: 600px;
    margin: auto;
}
.tabs-wrap {
    padding-bottom: 20px;
    margin-top: 30px;
}
.nav-link.active{
    background-color: green !important;
}
.nav-link{
    color: black;
}

.auth-btn{
    width: 100%;
}

.student-form{
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
}
.student-form input{
    background: white;
}

.btn-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content h2{
    color: #f0f3f0;
    font-weight: 700;
}
.logo-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    max-width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}
.btn-wrap button{
    padding-inline: 40px;
}

.footer-section{
    color: white;
    margin-top: 100px;
    position: relative;
    z-index: 3;
}

.footer-section .auth-inner{
    margin: 0 auto;
}

@media (max-width:1024px){
    .login-wrap{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:768px){
    .login-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
    .registration-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
    .page-wrap{
        margin-top: 50px;
    }
    .footer-section{
        margin-top: 50px;
    }
}