*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header {
    z-index: 99;
    position: relative;
}

.main-menu ul li a{
    font-size: 18px;
    line-height: 24px;
    color: white;
    font-weight: 600;
}

.main-menu ul li:hover a{
    color: green;
}
.menu-active{
    color: green !important;
}

.bg-wrap{
    height: 100vh;
    min-height: max-content;
    background-image: url(./assets/images/banner-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 20px;
}
.me-auto{
    margin-left: auto;
}
.service-page{
    padding-block: 0;
}
.bg-wrap::after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0.8;
    background: #212529;
    z-index: 2;
}
.auth-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.auth-wrapper{
    position: relative;
    z-index: 3;
    color: white;
    margin-top: 80px;
}

.content{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.auth-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.auth-inner{
    max-width: 200px;
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.page-wrap{
    margin-top: 40px;
}
.page-title{
    text-align: center;
}
.login-item{
    border-radius: 5px;
}
.login-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 30px;
}
.registration-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-top: 30px;
}
.tabs-wrap ul{
    background: white;
    max-width: max-content;
    padding: 10px;
    margin: 0 auto;
}
.tabs-wrap .tab-pane{
    max-width: 600px;
    margin: auto;
}
.tabs-wrap {
    padding-bottom: 20px;
    margin-top: 30px;
}
.links.active{
    background-color: green !important;
}
.nav-link{
    color: black;
}

.auth-btn{
    width: 100%;
}

.student-form{
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
}
.student-form input{
    background: white;
}

.btn-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content h2{
    color: #f0f3f0;
    font-weight: 700;
}
.logo-wrap{
    width: 100%;
    max-width: 100px;
    display: inline-block;
}
.logo-wrap img{
    max-width: 100%;
    width: 100%;
}
.btn-wrap button{
    padding-inline: 40px;
}

.footer-section{
    color: white;
    margin-top: 50px;
    position: relative;
    z-index: 3;
}

.footer-section .auth-inner{
    margin: 0 auto;
}

@media (max-width:1024px){
    .login-wrap{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:768px){
    .login-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
    .registration-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
    .page-wrap{
        margin-top: 20px;
    }
    .footer-section{
        margin-top: 24px;
    }
}


/* service */
.service-section,
.form-section{
    position: relative;
    z-index: 99;
    color: white;
    padding-top: 100px;
    padding-bottom: 40px;
}
.service-wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.service-item{
    text-align: center;
    color: black;
    text-decoration: none;
    transition: all;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(255, 255, 255);
}
.service-item:hover{
    color: green;
}
.service-logo{
    width: 60px;
    height: 60px;
    background-color: rgb(191, 204, 191);
    border-radius: 100%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
}
.service-logo img{
    width: 100%;
}
.bg-light {
    background-color: rgba(248, 249, 250, 1) !important;
}
.file-wrap{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form-section form{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
}
.title{
    text-align: center;
    color: #212529;
    font-size: 24px;
    font-weight: 700;
}
.form-section label{
    color: #212529;
}

.about-wrap{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    color: #212529;
    margin-top: 20px;
}

.contact-wrap{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}
.contact-wrap h2{
    text-align: center;
    margin-bottom: 20px;
}


@media(max-width:1020px){
   .logo-wrap{
        max-width: 50px;
    }
    
}
@media(max-width:768px){
    .service-wrap{
        grid-template-columns: repeat(2, 1fr);
    }
    .form-section{
        padding-top: 50px;
    }
}
@media(max-width:520px){
    .service-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
}