.auth-section{
    height: 100vh;
    background-image: url(./assets/images/banner-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-block: 20px;
}
.auth-section::after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0.6;
    background: #212529;
    z-index: 2;
}
.auth-wrapper{
    position: relative;
    z-index: 3;
    color: white;
}

.content-wrap{
    color: white;
    text-align: center;
}

.auth-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.auth-inner{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.login-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}