*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.auth-section{
    height: 100vh;
    min-height: max-content;
    background-image: url(./assets/images/banner-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-block: 20px;
}
.auth-section::after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0.8;
    background: #212529;
    z-index: 2;
}
.auth-wrapper{
    position: relative;
    z-index: 3;
    color: white;
}

.content{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.auth-inner{
    max-width: 200px;
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.page-wrap{
    margin-top: 150px;
}
.page-title{
    text-align: center;
}
.login-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 30px;
}
.registration-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-top: 30px;
}
.auth-btn{
    width: 100%;
}
.login-title{
    text-align: center;
    background-color: rgb(209, 171, 171);
    padding: 10px;
    border-bottom: 1px solid green;
}
.login-title.btn{
    width: 100%;
    color: white;
    font-weight: 700;
}
.login-title h3{
    margin: 0;
}
.student-form{
    background-color: gray;
    padding: 20px;
}
.student-form input{
    background: #929191;
}

.btn-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content h2{
    color: #f0f3f0;
    font-weight: 700;
}
.logo-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.btn-wrap button{
    padding-inline: 40px;
}

.login-title.active {
    background: green;
    color: white;
}
.login-item{
    background-color: white;
}
.login-item .btn{
    border-radius: 0;
}

.hidden {
    display: none;
}

.footer-section{
    color: white;
    margin-top: 100px;
    position: relative;
    z-index: 3;
}
.footer-section p{
    font-size: 18px;
    text-align: center;
}

@media (max-width:1024px){
    .login-wrap{
        grid-template-columns: repeat(2, 1fr);
    }
    .page-wrap{
        margin-top: 100px;
    }
}
@media (max-width:768px){
    .login-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
    .registration-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
    .page-wrap{
        margin-top: 50px;
    }
    .footer-section{
        margin-top: 50px;
    }
}